
   .container{    
      flex-wrap: wrap;
      justify-content: center; 
      align-items: center;    
 
 }

   .submit{
      margin: 30px;
      padding: 10px;
      color: aliceblue;
      background: green;
}

   .submit:hover{
      background: rgb(8, 75, 8);
}